* {
    margin: 0; 
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
.gj-header-img {
    height: 90px;
}
.gj-header a {
    text-decoration: none;
    color: #EEEEEE;
}
.gj-header nav {
    width: 60%;
    font-size: 90%;
}
.container-fluid{
    background-color: #39393A;
}
.navbar-nav{
    background-color: #39393A;
}
.nav-link{
    color: #f7f0f0;
}

/* MAIN */
.gj-main-index{
    background-color: #f7f0f0;
    position: relative;
}
.gj-main-index h4{
    font-weight: bold;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.gj-main-index img{
    width: 100%;
}
.gj-wrap-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gj-img-index{
    width: 350px;
}
.gj-puntos-index{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    margin: 20px;
}
.gj-main {
    background-color: #f7f0f7;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}
main img {
    width: 450px;
}
main input {
    padding: 3px;
    margin: 5px;
}
main ul {
    list-style-type: none;
}
main a {
    text-decoration: none;
    color: #EEEEEE;
}
.ir-arriba {
    display: block;
    margin: 10px;
    padding: 1px;
    width: 75px;
    height: 25px;
    background-color: #000033;
    position: sticky;
    bottom: 10px;
    right: 10px;
    text-align: center;
}
.ir-arriba a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 80%;
}
.mejoras{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.mejoras-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: center;
}
.mejoras-item-rev{
    flex-direction: row-reverse;
    text-align: right;    
}
.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.collapsed{
    background-color: #8af3ff;
}
.accordion-item{
    width: 75%;
    background-color: #f7f0f0;
}
.aparicion{
    animation: fadeIn 5s;
}

/* FOOTER */
footer {
    background-color: #8D818C;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    text-align: left;
}
.nav-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer img {
    height: 30px;
}
.footer-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer nav p{
    font-size: 70%;
    text-align: center;
}

/* Grid */
.gj-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 315px 315px 315px 150px;
    gap: 10px 10px;
    grid-template-areas:
        "gj-grid-header gj-grid-header"
        "gj-grid-txt1 gj-grid-video1"
        "gj-grid-txt2 gj-grid-video2"
        "gj-grid-txt3 gj-grid-video3"
        "gj-grid-footer gj-grid-footer"
}
.gj-grid-header{
    grid-area: gj-grid-header;
}
.gj-grid-txt1{
    grid-area: gj-grid-txt1;
    padding: 20px;
}
.gj-grid-video1{
    grid-area: gj-grid-video1;
}
.gj-grid-txt2{
    grid-area: gj-grid-txt2;
    padding: 20px;
}
.gj-grid-video2{
    grid-area: gj-grid-video2;
}
.gj-grid-txt3{
    grid-area: gj-grid-txt3;
    padding: 20px;
}
.gj-grid-video3{
    grid-area: gj-grid-video3;
}
.gj-grid-footer{
    grid-area: gj-grid-footer;
    background-color: #8D818C;
    padding: 20px;
}
.gj-grid-footer img{
    height: 30px;
}

/* Medias queries */
@media (max-width: 768px){
    .mejoras-item{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .container-fluid{
        justify-content: flex-start !important;
    }
}
@media (max-width: 425px){
    *{
        padding: 0;
        margin: 0;
    }
        .lista-indice{
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 50%;
    }
    .gj-main{
        max-width: 320px;
    }
    .footer-ul{
        flex-direction: row;
    }
    .gj-header-img{
        max-height: 45px;
    }
}

/* Animacion */
@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }