h4{
    margin: 10px;
}
.mejoras{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.mejoras-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-items: center;
    div{
        height: 120px;
        margin: 10px;
        p{
            padding-top: 10px;
            padding-left: 10px;
        }
    }
    img{
        height: 100%;
        width: auto;
    }
    div:hover{
        background-color: rgb(204, 227, 236);
        img{
            transform: scale(1.6);
            transition: 0.5s;
            background-image: linear-gradient(#f7f0f0,gray);
            border: solid 0.5px black;
        }
    }
}