footer{
    background-color: $color-footer;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EEEEEE;
    text-align: left;
    img{
        height: 30px;
    }
    nav{
        p{
            font-size: 70%;
            text-align: center;
        }
    }
}
.nav-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .footer-ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}