.gj-header-img {
    height: 90px;
}
.gj-header a {
    text-decoration: none;
    color: #EEEEEE;
}
.gj-header nav {
    width: 60%;
    font-size: 90%;
}
.container-fluid{
    background-color: #39393A;
}
.navbar-nav{
    background-color: #39393A;
}
.nav-link{
    color: #f7f0f0;
}