@media (max-width: 768px){
    .mejoras-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: small;
        div{        
            height: auto;
        }
        img{
            height: 90px;
        }
    }
    .container-fluid{
        justify-content: flex-start !important;
    }
}

@media (max-width: 450px){
    .gj-header-img{
        height: 80px;
    }
}

@media (max-width: 425px){
    .lista-indice{
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 50%;
    }
    .gj-main{
        min-width: 320px;
    }
    .gj-main-index{
        h3{
            font-weight: bold;
            color: white;
            font-size: 75%;
            position: absolute;
            top: 80px;
            left: 20px;
        }
    }
    .gj-img-index{
        width: 90vw;
    }
    .footer-ul{
        flex-direction: row;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
    }
    .gj-header-img{
        width: 70vw;
        height: auto;
    }
    .gj-grid{
        display: grid;
        align-items: center;
        grid-template-columns: 100vw;
        grid-template-rows: 85px 200px 85px 200px 85px 200px;
        gap: 5px;
        grid-template-areas:
            "gj-grid-txt1"
            "gj-grid-video1"
            "gj-grid-txt2"
            "gj-grid-video2"
            "gj-grid-txt3"
            "gj-grid-video3"
    }
}