@media (max-width: 768px){
    .mejoras-item{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .container-fluid{
        justify-content: flex-start !important;
    }
}
@media (max-width: 425px){
    .lista-indice{
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 50%;
    }
    .gj-main{
        min-width: 320px;
    }
    .footer-ul{
        flex-direction: row;
    }
    .gj-header-img{
        max-height: 45px;
    }
}