.gj-grid{
    padding-top: 10px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 320px 320px;
    grid-template-rows: 180px 180px 180px;
    gap: 10px 0px;
    grid-template-areas:
        "gj-grid-txt gj-grid-video"
        "gj-grid-txt gj-grid-video"
        "gj-grid-txt gj-grid-video"
    }
.gj-grid-txt{
    h3{
        font-size: large;
        text-align: center;
    }
    p{
        font-size: small;
        text-align: center;
    }
}