.gj-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 300px 300px 300px 150px;
    gap: 10px 10px;
    grid-template-areas:
        "gj-grid-header gj-grid-header"
        "gj-grid-txt1 gj-grid-video1"
        "gj-grid-txt2 gj-grid-video2"
        "gj-grid-txt3 gj-grid-video3"
        "gj-grid-footer gj-grid-footer"
}
.gj-grid-header{
    grid-area: gj-grid-header;
}
.gj-grid-txt1{
    grid-area: gj-grid-txt1;
    padding: 20px;
}
.gj-grid-video1{
    grid-area: gj-grid-video1;
}
.gj-grid-txt2{
    grid-area: gj-grid-txt2;
    padding: 20px;
}
.gj-grid-video2{
    grid-area: gj-grid-video2;
}
.gj-grid-txt3{
    grid-area: gj-grid-txt3;
    padding: 20px;
}
.gj-grid-video3{
    grid-area: gj-grid-video3;
}
.gj-grid-footer{
    grid-area: gj-grid-footer;
    background-color: $color-footer;
    padding: 20px;
}
.gj-grid-footer img{
    height: 30px;
}